/* Кнопка выпадающего списка */
.dropbtn {
  /*
    background-color: rgb(217, 217, 217);
    color: black;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10%;
    border-color: rgba(207, 194, 194, 0);*/
    cursor: pointer;
    border: none;
  } 
  
  /* Кнопка выпадающего меню при наведении и фокусировке 
  .dropbtn:hover, .dropbtn:focus {
    background-color: rgb(201, 201, 201);
  } */
  
  /* Выпадающее содержимое (скрыто по умолчанию) */
  .dropdown-content {
    display: none;
    /*position: absolute;
    background-color: #f1f1f1;*/
    min-width: 160px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;*/
  }
  
  
  /* Контейнер <div> — необходим для размещения выпадающего содержимого */
  .dropdown {
    text-align: center;
  }
  
  /* Показать выпадающее меню (использовать JS, чтобы добавить этот класс .dropdown-content содержимого, когда пользователь нажимает на кнопку выпадающего списка) */
  .show {display:block;}

  .mod{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .point{
    width: 20px;
    height: 20px;
  }

  /* обозначения кружками выбранной модели */
  .circle {
    margin-left: 10px;
    width: 15px;
    height: 15px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
}

.button{
  margin-right: 10px;
}